.MMM-RMV .table {
    border-spacing: 0px 0px;
    border-collapse: separate;
    text-align: left;
	}

.MMM-RMV .type {
	font-weight: normal;
    	border-collapse: separate;
	color: white;
	}


.MMM-RMV .RowSp {
	padding-bottom: 5px;
	}

.MMM-RMV .destination {
	font-weight: normal;
    	border-collapse: separate;
	color: white;
	}

.MMM-RMV .blocked {
	text-transform: capitalize;
	font-weight: normal;
	}
	
.MMM-RMV .lines {
    border-spacing: 10px 0px;
    border-collapse: separate;
    text-align: left;
	color:white;
	font-weight: normal;
	}
	
.MMM-RMV .departure {
	padding-left: 10px;
	text-align: right;
	font-weight: normal;
	color: white;
	}

.MMM-RMV .departureLate {
	padding-left: 10px;
	text-align: right;
	font-weight: normal;
	color: red;
	}
	
.MMM-RMV .NoConRow {
	font-weight: normal;
	color: white;
	}
	
